.contacts__container {

}

.contacts__subtitle {
    color: var(--txt-color);
    font-family: var(--font-teste);
    font-size: 1.2rem;
    text-align: center;
    display: block;
    padding-top: 3rem;
    padding-bottom: 1rem;
}


.container__social {
    width: 80%;
    height: 300px;
    
    position: relative;
    margin: 0 auto;   
}

.toggle {
    width: 101px;
    height: 91px;

    display: grid;
    place-items: center;
    background-color: var(--contrast-color);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    cursor: pointer;

    position: absolute;
    z-index: 3;
}

.item__plus {
    width: 35%;
    transition: 1s;
    color: white;
}

.social__menu {
    place-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 100px;
    height: 90px;

    z-index: 1;
    background-color: transparent;
}

.menu__item {
    height: 100%;
    width: 100%;

    cursor: pointer;

    position: absolute;

    display: grid;
    place-items: center;

    background: linear-gradient(45deg, var(--base-color-light), var(--base-color-dark));
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    transition: .5s;
    z-index: 2;
}

.github-teste {
}

/*.menu__item {
    z-index: -1;
    background-color: purple;
}*/

.social__menu {
    -z-index: -1;
    
}



.menu__item > a {
    place-self: center;
}

.menu__item svg {
    color: var(--bg-color);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu__item svg:hover {
    color: var(--contrast-color);
}

.menu__item:hover {
}