@import url(./geral.css);

/*-------------------------*/

.projects {
}

/*container todos os projetos *****/

.projects__cards {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    margin-top: 5rem;
    -border: solid red;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    row-gap: 5rem;
}

/*colocar projetos do lado direito****************/

.card2, .card4 {
    align-self: flex-end;
}

.card2 .item__print, .card4 .item__print {
    order: 3;  
}

/*container projeto individual *******/

.cards__item {
    width: 100%;

    position: relative;

    transition: all .3s ease-in-out;
    
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/*img individual de cada projeto******************/

.item__print {
    position: relative;
    width: 400px;
    height: 300px;
   
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    filter: grayscale(.8);
    border: 1px solid var(--shadow-gray);
}

.card1 > .item__print {
    background-image: url("..//imagens/lospollosfritos-resize.png");
}

.card2 > .item__print {
    background-image: url("..//imagens/capitalrock-resize.png");
}

.card3 > .item__print {
    background-image: url("..//imagens/coming-soon.jpg");
}

.item__print:hover {
    filter: grayscale(.3);
    transition: .2s;
}

/*moldura img individual de projetos*****************/

.item__print:before, .item__print:after  {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotateZ(2.5deg);
    border: 1px solid var(--shadow-gray);
}
  
  .item__print:after  {
    transform: rotateZ(-2.5deg);
}

.item__print:hover::before, .item__print:hover::after {
    transform: rotateZ(0);
    transition: .2s all;
}

/*container INFORMAÇÃO cada projeto ---------------- */

.item__information {
    display: flex;
    align-items: center;

    column-gap: 1rem;
    
    max-width: 400px;
    padding: 2rem;
    border-radius: 0px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.187), -4px -1px 5px rgba(0, 0, 0, 0.187);
}

/* TEXTOS de informação ********/

.content__title {
    font-family: var(--font-contrast);
    display: flex;
    align-items: center;
    display: block;
    font-size: 1.5rem;
    color: var(--contrast-color);
}

.content__description {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    font-size: 1.2rem;
    font-weight: normal;
    font-family: var(--font-txt);
    color: var(--txt-color);
}

.skills__txt {
    color: var(--base-color-dark);
    font-size: .8rem;
    font-family: var(--font-tech);
    
    margin-right: .7rem;
}

/*container LINKS cada projeto *******/

.information__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    height: 200px;
}

.icons__line {
    width: .1rem;
    background-color: var(--contrast-color);
    height: 15%;
}

.icons__img {
    width: 25px;
    height: 25px;
    color: var(--base-color-light);
}

.icons__img:hover {
    color: var(--base-color-dark);
}

.icons__img:hover {
    transform: scale(1.3);
}