@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');


:root {
    /*--cor1: #F7F2EB;*/ 
    --cor1: 247, 242, 235;
    --cor2: #00a2e8;
    --cor3: #3ab9f0; 
    --cor4: #DE5B23; 
    --cor5: #ED9068;

    --fonte-titulos: 'Playfair Display', serif;
    --fonte-destaque: 'Montserrat', sans-serif;
    --fonte-padrao: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
    background-color: rgb(var(--cor1));
    padding: 10px 20px;
    background-image: url(../imagens/);
}

header > img {
    width: 100px;
}

header > nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav > a, button {
    font-family: var(--fonte-destaque);
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px;
    border: none;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.308);
}

nav > a {
    color: black;
}

nav > a:hover {
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--cor5), -3px -3px 5px var(--cor3); 
}

header > button {
    border-radius: 10px;
    background: linear-gradient(-15deg, var(--cor5), var(--cor3));
    color: rgb(var(--cor1));
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.363);
}

header > button:hover {
    background: linear-gradient(-15deg, var(--cor3), var(--cor5));
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.363);
}

main {
    text-align: center;
}

/* LANDING PAGE, MENOS O HEADER VVVVV*/

section#landing-page {
    background: linear-gradient(to bottom, rgb(var(--cor1)), white);
    padding: 130px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section#landing-page > div#chave-esquerda {
    clip-path: polygon(100% 0%, 60% 50%, 100% 100%, 40% 100%, 0% 50%, 40% 0);
    width: 200px;
    height: 250px;
    background-image: url(https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.486);
}

section#landing-page > div#titulo {
    align-self: center;
}

div#titulo > h1 {
    font-size: 3em;
    font-weight: 500;
    font-family: var(--fonte-titulos);
    margin-bottom: 40px;
    text-shadow: 0 5px 6px rgba(0, 0, 0, 0.400);
}

div#titulo > h2 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    text-decoration: 5px underline var(--cor5);
    text-underline-offset: 5px;
    
}

div#titulo h2 > span {
    font-size: inherit;
    text-decoration: 5px underline var(--cor3);
    text-underline-offset: 5px;
}

section#landing-page > div#chave-direita {
    background-attachment: local;
    background-image: url(../imagens/chave-direita.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(60% 0%, 100% 50%, 60% 100%, 0% 100%, 40% 50%, 0% 0%);
    height: 250px;
    width: 200px;
}

/* CONTEÚDO PRINCIPAL vvvvvvvvvv*/

h3 {
    display: inline-block;
    font-family: var(--fonte-titulos);
    font-size: 2.3em;
    font-weight: bold;
    letter-spacing: 1.5vw;
    margin-top: 200px;
    padding-bottom: 10px;
    padding-left: 1.5vw;
    text-shadow: 3px 3px 1px black;
}

/* h3::before, h3::after {
    vertical-align: middle;
    margin-right: 10px;
    content: 'flamengo';
    color: transparent;
    text-shadow: none;
    background-color: var(--cor5);
    font-size: 0.1em; 
    width: 20%;
    opacity: 50%;
}

h3::after {
    background-color: var(--cor3);
}*/

section div.container-fundo {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: px 0;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.400), inset 0px -5px 5px rgba(0, 0, 0, 0.400);
    flex-wrap: wrap;
    gap: 20px;
}

section#quem-sou {
    background-color: ;
}

section#quem-sou > h3 {
    color: black;
    margin-top: 100px;
    text-shadow: 3px 3px 3px var(--cor5);
}

section#quem-sou > div#container-quem-sou {
    background-image: url(../imagens/fundo-quem-sou.jpg);
}


div#container-quem-sou > img {
    display: block;
    width: 45%;
    max-width: 400px;
    min-width: 350px;
    border: solid white 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.582);
}

div#container-quem-sou > div#texto-fundo {
    width: 45%;
    max-width: 800px;
    min-width: 350px;
    padding: 4%;
    padding-top: 0;
    background-color: white;  
}

div#texto-fundo > h3 {
    margin-top: 0;
    padding-top: 50px;
    margin-bottom: 50px;
    text-shadow: 3px 3px 3px var(--cor5);
}

div#texto-fundo > p {
    width: 80%;
    margin: 0 auto;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: 500;
    text-indent: 3em;
    text-align: justify;
    line-height: 1.3em;
}

/* VVVV    PORTFOLIO    VVVV*/

section#portfolio {
    background-color: ;
}

section#portfolio > h3 {
    color: black;
    text-shadow: -3px 3px 3px var(--cor5);
    margin-bottom: 50px;
}

section#portfolio > div#container-portfolio {
    height: fit-content;
    width: 80vw;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

div#container-portfolio > div {
    border: 5px solid rgb(var(--cor1));
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.363);
    outline: 1px solid rgba(0, 0, 0, 0.199);
    background-color: lightblue;
    width: 300px;
    height: 200px;
    flex-basis: 300px;
}

/* VVVV    CONHECIMENTOS    VVVVV*/

main > section#conhecimentos {
    background-color:;
}

section#conhecimentos > h3 {
    color: black;
    text-shadow: 3px 3px 3px var(--cor5);
}

section#conhecimentos > div#container-conhecimentos {
    background-image: url(../imagens/fundo-conhecimentos.jpg);
    background-position: center center;
    padding-inline: 50px;
}

div#container-conhecimentos > div#soft-skills {
    background-color: white;
    width: 100%;
    min-width: 350px;
    max-width: 500px;
    padding-bottom: 46px;
    padding-top: 46px;
    padding-inline: 10px;
    flex-basis: 350px;
    flex-grow: 1;
    
}

div#soft-skills > h3 {
    font-size: 1.9em;
    letter-spacing: 0.5vw;
    margin-top: 0;
    margin-bottom: 30px;
    text-shadow: 3px 3px 3px var(--cor5);
}

div#soft-skills > ul span {
    font-family: var(--fonte-destaque);
    font-size: 1.4em;
    margin-bottom: 20px;
    display: block;
    color: var(--cor4);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
    font-weight: 700;
}

div#soft-skills li {
    list-style: none;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    line-height: 1.2em;
}

div#soft-skills > a {
    text-decoration: none;
    font-family: var(--fonte-destaque);
    font-size: 1.4em;
    margin-top: 70px;
    display: block;
    color: var(--cor4);
    background-color: transparent;
    font-weight: 700;
}

div#container-conhecimentos > div#container-items {
    width: 50%;
    max-width: 500px;
    min-width: 375px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-block: 20px;
    flex-basis: 350px;
    flex-grow: 1;
}

div#container-items > div.item-conhecimentos {
    display: flex;
    align-items: center;
    background-color: rgb(var(--cor1));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.342);
    width: 110px;
    height: 110px;
}

div.item-conhecimentos img {
    display: block;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

/*VVVV   CONTATOS   VVVV*/

main > section#contatos {
 padding-bottom: 80px;
 background: linear-gradient(to top, rgb(var(--cor1)), white);
}

section#contatos > div#container-contatos {
    /*fundo de cartao*/
    background-image: url(https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 60vw;
    max-width: 500px;
    padding: 20px;
    margin: 300px auto 80px auto;
    box-shadow: 5px 5px 5px var(--cor5), -5px -5px 5px var(--cor3);
}

div#container-contatos > h3 {
    display: block;
    margin-top: 0px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.384);
    letter-spacing: 1vw;
}

div#container-contatos > div#flex-contatos {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.486);
    row-gap: 15px;
    padding-top: 10px;
}

h4 {
    font-family: var(--fonte-destaque);  
    font-size: 1.1em;  
    padding-block: 10px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.329);
}

div#flex-contatos > div#container-sociais {
    
}

div#container-sociais > h4 {
    text-shadow: 0 2px 2px var(--cor);
}

div#container-sociais > div#img-sociais {
    display: flex;
    justify-content: space-around;
}

div#img-sociais img {
    display: inline-block;
    width: 50px;
}

div#img-sociais img:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 5px var(--cor5), -3px -3px 5px var(--cor3); 
    transform: scale(0.9);
}

div#flex-contatos > div#container-fale-comigo {

}

div#container-fale-comigo > h4 {
    text-shadow: 0 2px 2px var(--cor);
}

h5 {
    text-align: right;
    font-size: 1em;
    padding-bottom: 10px;
}


footer {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    background-color: rgb(var(--cor1));
    text-align: center;
    font-size: 0.7em;
    padding-block: 8px;
    word-spacing: 3px;
    border-top: 1px solid rgba(0, 0, 0, 0.349);
}