@import url(./geral.css);

/********************************/

.content__cart {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
    grid-auto-flow: row;
    grid-template-areas:
      "requests requests total"
      "delivery payment btns";
}

.cart__box {
    background-color: #f1ddbf50;
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    border-radius: 10px;

    background-color: #f1ddbf90;
}



.box__title, .delivery__option {
    font-size: 1.3rem;
    font-family: var(--contrast-font);
    color: var(--contrast-color);
}

.box__line {
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 100%;
    opacity: .2;
    border-bottom: 1px dashed var(--detail-color-dark);
}

  /*sessao pedidos feitos****************/
.cart__requests { 
    grid-area: requests; 
}

/*sessao valor total*********************/
.cart__total { 
    grid-area: total; 
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.total__value {
    font-size: 2.5rem;
    font-family: var(--contrast-font);
    color: var(--contrast-color);
}
.total__value-small {
    font-size: 1.5rem;
    font-family: inherit;
    position: relative;
    top: -20%;
}
.total__value-number {
    font-family: inherit;
    font-size: inherit;
}


/*sessao tipo de entrega******************/
.cart__delivery { 
    grid-area: delivery; 
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
}

.delivery__option {
    padding: 1vh .5vw;
    cursor: pointer;
}

.delivery__option:hover {
    background-color: var(--base-color);
}
/*sessao tipo de pagamento****************/
.cart__payment { 
    grid-area: payment; 
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.payment__container {
    background-color: var(--light-color);
    color: var(--contrast-color);
    border: none;
    width: min-content;
    -text-align: center;
    padding: .5rem;
}

.payment__container:hover {
}


.payment__coupon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon__input {
    background-color: var(--light-color);
    border: none;
    width: 50%;
    outline: 1px solid var(--light-color);
    background-color: transparent;
    padding: .4rem;
    border-radius: 10px 0 0 10px;

    color: var(--contrast-color);
    font-family: var(--txt-font);
    font-size: 1rem;
}

.coupon__input::placeholder {
    color: var(--contrast-color);
    font-family: var(--txt-font);
    font-size: .7rem;
    opacity: .5;
}

.coupon__btn {
    border: none;
    padding: .5rem;
    background-color: var(--light-color);
    color: var(--contrast-color);
    font-size: .8rem;
    font-family: var(--contrast-font);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.coupon__btn:hover {
    background-color: var(--contrast-color);
    color: var(--light-color);
}

/*botoes para finalizar**********************/
.cart__btns {
    align-items: center;
    justify-content: center;
    row-gap: 2vh;
    background-color: transparent;
}

.btns__item {
    border: none;
    font-size: .9rem;
    font-family: var(--contrast-font);
    padding: 1rem 0;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.btn-final {
    background-color: var(--base-color);
    color: var(--detail-color-dark);
}
.btn-more {
    background-color: var(--detail-color-dark);
    color: var(--base-color);
}