@import url(estilo/geral.css);


body {
    display: flex;
    align-items: stretch;
}

.header {
    height: 100vh;
    width: 25vw;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-direction: column;
    padding: 2rem;
    background-color: var(--light-color);

   
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.200);
    background-image: url(../imagens/Poncho.svg);
    background-size: contain;

    
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.logo__img {
    display: block;
    width: 30%;
}

.logo__title {
    text-align: center;
    color: var(--contrast-color);
    font-size: 1.6rem;
    font-family: var(--contrast-font);
}

/*linha divisora*/
.line-divider {
    width: 80%;
    margin: 0 auto;
    opacity: .4;
    border-top: 2px dashed var(--detail-color-dark);
}

/*barra de navegação***************/

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
    -gap: 4rem;
}

.nav__link {
    color: var(--contrast-color);
    font-size: 1.3rem;
 
    font-family: var(--contrast-font);
    padding: 1.5rem 0rem;
    width: 345px;
    display: block;
    transition: .2s;
    text-align: center;
    
}

.nav__link:hover {
    background-color: var(--contrast-color);
    color: var(--base-color);
}





/*qr code********************/

.header__code {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code__txt {
    font-size: .7rem;
    color: var(--contrast-color);
    font-family: var(--txt-font);
    letter-spacing: 1px;
}

.code__img {
    width: 40%;
}


/* minimizar e aumentar header**************/

.header__minmax {
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    right: 10px;
    top: 10px;

    cursor: pointer;
}


/*conteudo************************/

main.content {
    width: 75%;
    margin-left: 25vw;

    position: relative;
}

.content__landpage {
    color: var(--light-color);

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.landpage__info {
    display: flex;
    flex-direction: column;
}

.info__title {
    font-size: 2rem;
    font-family: var(--contrast-font);
    text-shadow: -3px 3px 0 var(--detail-color-light);
    letter-spacing: 1px;

    position: relative;
    z-index: 100;
}

.title__contrast {
    color: var(--contrast-color);
    font-family: inherit;
    font-size: 4rem;
    text-shadow: -1px -2px rgba(255, 255, 0, 0.4);
}

.mex-green,
.mex-green {
    color: darkgreen;
}
.mex-red {
    color: var(--contrast-color);
}


.info__parag {
    max-width: 400px;

    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--txt-font);

    margin-top: 3vh;
    margin-bottom: 5vh;

    text-shadow: 0px 1px 1px gray;
}

.info__order {
  
}

.landpage__order {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0%;
    right: 30vw;
    padding: 1rem;
    transition: .5s;
    height: 50px;
    overflow: hidden;
}

.landpage__order:hover {
    height: 180px;
}

.order__link {
    color: var(--contrast-color);
    font-size: 1.3rem;
    font-family: var(--contrast-font);
}


.landpage__coupons {
    background-color: var(--contrast-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .8rem;
    position: absolute;
    bottom: 0%;
    right: 15vw;

    
    transition: .5s;
    height: 50px;
    overflow: hidden;
}

.landpage__coupons:hover {
    height: 210px;
}

.coupons__link {
    color: var(--light-color);
    font-size: 1.3rem;
    font-family: var(--contrast-font);
}

.coupons__item {
    display: block;
    font-family: var(--txt-font);
    font-size: 1rem;
    color: var(--light-color);
    font-weight: 600;
    padding: 1rem;
    width: 100%;
    text-align: center;
    cursor: pointer;

    border-top: 1px solid var(--light-color);
}

.coupons__item:hover {
    background-color: var(--light-color);
    color: var(--contrast-color);
}

.coupons__item:nth-of-type(1) {
    margin-top: .8rem;
}





/*social icons*********************/

.landpage__social {
    position: absolute;
    bottom: 0;
    right: 4vw;
    z-index: 999;


    display: flex;
    align-items: center;
    justify-content: space-evenly;

    column-gap: .5rem;
    padding: .5rem;

    -background-color: var(--contrast-color);
}

.info__social {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.social__icon {
    width: 3vw;
    min-width: 30px;
    color: var(--contrast-color);
    transition: .5s;
    cursor: pointer;
    opacity: .9;
}

.social__icon:hover {
    color: var(--detail-color-light);
}

/*imagem balde landing-page *************/

.teste-fried {
    position: absolute;
    right: 0;
    top: 10%;
    width: 40vw;
}