@import url(./geral.css);

/*------------------------------*/

.content__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__container {  
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vw;
    grid-auto-flow: row;
    grid-template-areas:
      "item1 item2 item3"
      "item4 item5 item6";
}

.menu__item {
}

.front__img {
    width: 100%;
}

.container__card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }

  .container__card:hover {
    transform: rotateY(180deg);
  }

  .card__front {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .9;
    
  }

  .card1 .card__front {
    background-image: url(../imagens/item1.jpg);
  }
  .card2 .card__front {
    background-image: url(../imagens/item2.jpg);
  }
.card3 .card__front {
    background-image: url(../imagens/item3.jpg);
}
.card4 .card__front {
    background-image: url(../imagens/item4.jpg);
}
.card5 .card__front {
    background-image: url(../imagens/item5.jpg);
}
.card6 .card__front {
    background-image: url(../imagens/item6.jpg);
}


  .card__front, .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  .card__back {
    background-color: var(--light-color);
    color: var(--contrast-color);
    transform: rotateY(180deg);

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .back__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    
  }

  .info__product {
    font-size: 1.5rem;
    font-family: var(--contrast-font);
    font-weight: 400;
  }

.info__divider {
    background-color: var(--detail-color-light);
    height: 1px;
    width: 100%;
    opacity: .2;
    margin: 1vh 0;
}

  .info__price {
    font-size: 2.5rem;
    font-family: var(--txt-font);
  }

  .smaller {
    font-size: 1.2rem;
    position: relative;
    top: -7px;
  }

  .back__request {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 15%;

  }

  .request__btn {
    width: 100%;
    border: none;
    color: var(--light-color);
    background-color: var(--contrast-color);
    padding-block: .2rem;
    font-size: 1.2rem;

    transition: .3s;
    cursor: pointer;
  }

  .request__btn:hover {
    background-color: var(--base-color);
    color: var(--contrast-color);
  }

  .request__value {
    width: 100%;
    padding: .5rem;
    background-color: #ecc94b50;
}



.item1 { grid-area: item1; }
  
.item2 { grid-area: item2; }

.item3 { grid-area: item3; }

.item4 { grid-area: item4; }

.item5 { grid-area: item5; }

.item6 { grid-area: item6; }

.item7 { grid-area: item7; }

.item8 { grid-area: item8; }

.item9 { grid-area: item9; }