@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

* { /*REGRAS GERAIS*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1em;
}


:root {
    --cor0: #F2E205;
    --cor1: #303336;
    --cor2: #070B0D;
   
    
}

header {
    background-image: linear-gradient( to bottom, #070B0D 72%, #303336);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    margin: auto;
    border: solid blue;
}

header .cabecalho {
    margin-inline: auto;
    border: solid red;   
    width: 30%;
}

header .titulo {
    width: fit-content;
    display: inline-block;
    border: solid yellow;
    min-width: 200px;
    width: auto;
}

header h1 { 
    width: 100%;
    min-width: 100px;
    margin: auto;
    padding: 30px 0 0 0;
    font: normal bolder 4.8em 'Josefin Sans', sans-serif;
    color: white;
    text-decoration: underline 2px #f2e205bb;
    text-underline-offset: 10px;   
    text-shadow: 4px 4px 10px rgba(255, 255, 0, 0.212);
    display: inline-block;
}
header #slogan {
    color: white;
    padding: 0px 2px 20px 2px;
    font-size: 1.2em;
    width: fit-content;
    margin: 0 auto;
    font-weight: normal;
    font-family: 'Sofia', cursive;
}
header h1 > span { /*SHIRTS TÍTULO*/
    font: normal bold 0.6em 'Josefin Sans', sans-serif;
    text-shadow: 0px -21px 2px rgba(128, 128, 128, 0.753);
    display: none;
  }
header h1:hover > span {
      display: inline;
  }

  /* BARRA NAVEGAÇÃO vvvvvvvvvvvvvvv*/

nav .newnav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2e2059d;
    font: 500 1em 'Josefin Sans', sans-serif;
    margin-bottom: 40px;
    border-radius: 0 0 10px 10px;
}

nav .navitens {
    margin-inline: 10px;
    background-color: #30333613;
    padding: 10px;
}

nav .navitens:hover {
    background-color: var(--cor1);
    box-shadow: 0px 2px 6px #3033366c;
    border-radius: 0 0 10px 10px;
    color: white;
    transition-duration: 0.3s;
}

section {
    width: auto;
    background-color: white;
    
}

ul#prodopc {
    border-radius: 10px 10px 0 0;
    background-color: red;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0;
    display: none;
}


#banner {
    display: block;
    width: 100%;
    margin: 0 auto 50px auto;
}
#banner > img {
    display: block;
    width: 95%;
    margin: auto;
    min-width: 350px;
    max-width: 800px;
    box-shadow: 1px 1px 10px black;
}

#banner > img:hover {
    box-shadow: 2px 2px 15px black;
}



/*CABEÇALHO ACIMA^^^^^^^^^^^^^^^^^^^^^^*/

body {
    background-color: white;
    margin: auto;
    text-align: center;
    font-family: 'Roboto',sans-serif;
}
main {
    margin-bottom: 100px;
    width: 90%;
    display: inline-block;
    min-width: 300px;
    max-width: 1200px;

}

h2 {
    font: normal 1.5em 'Josefin Sans', sans-serif;
    background-color: white;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.destaque { /*PRODUTOS EM DESTAQUE*/
   min-width: 200px;
    width: 30%;
    font: lighter 1em 'Roboto', sans-serif;
    padding: 15px;
    display: inline-block;
    margin: 40px 0px 20px 0px;
    margin-inline: 10px;
    border: 1px solid rgba(0, 0, 0, 0.226) 0.15em;
    border-radius: 0 0 40px 40px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.61);
    
}

.destaque:hover {
    box-shadow: 2px 2px 20px rgba(44, 44, 44, 0.76);
}

.desconto { /*PRODUTOS EM DESCONTO*/
    text-decoration: line-through rgba(0, 0, 0, 0.562);
    color: #c80000;
    font-size: 0.6em;
}

.infocam {
    display: block;
    border-radius: 0 0 40px 40px; 
    width: 90%;
    margin: auto;
}

.nomecam {
    display: block;
    font-weight: normal;
    font-size: 1em;
    margin-top: 10px;
    padding-top: 10px;

}

.precocam {
    display: block;
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 10px;
    color: #303336;
}

.infocam > button {
    background-color: black;
    color: white;
    border: transparent;
    border-radius: 5px;
    padding: 3px;
    margin-top: 15px;  
    width: 60%;
    font-size: 0.9em;
}

button:hover {
    background-color: #303336;
    color: white;
}

main #newsletter {
    position: relative;
}

main #newsletter > img {
    display: block;
    width: 50%;
    margin: auto;
    min-width: 350px;
    max-width: 800px;
    margin-top: 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.452);

}


/*RODAPÉ ABAIXOvvvvvvvvvvvvvvvvvvvvv*/


footer {
    width: 100%;
    background-image: linear-gradient( to top, #070B0D 75%, #303336);
    color: white;
    padding: 16px;
    font: normal lighter 0.8em 'Roboto', sans-serif;
    display: flex;
    justify-content: left;
    align-items: baseline;
}
h3 {
    font-size: 16px;
}

.footerdiv {
    text-align: left;
    margin-inline: auto;
}

.afooter { /*LINKS RODAPÉ*/
    text-decoration: none;
    color: white;
}

.imgfooter { /*IMAGENS RODAPÉ*/
    width: 150px;
    height: 20px;
}