@import url(estilo/geral.css);


body {
    display: flex;
    align-items: stretch;
}

.header {
    height: 100vh;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-direction: column;
    padding: 2rem;
    background-color: var(--light-color);

    position: relative;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.200);
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.logo__img {
    display: block;
    width: 30%;
}

.logo__title {
    text-align: center;
    color: var(--contrast-color);
    font-size: 1.6rem;
    font-family: var(--contrast-font);
}

/*linha divisora*/
.line-divider {
    width: 80%;
    margin: 0 auto;
    opacity: .4;
    border-top: 2px dashed var(--detail-color-dark);
}




/*barra de navegação***************/

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
    -gap: 4rem;
}

.nav__link {
    color: var(--contrast-color);
    font-size: 1.3rem;
    font-family: var(--txt-font);
    padding: 1.5rem 0rem;
    width: 345px;
    display: block;
    transition: .3s;
    text-align: center;
    
}

.nav__link:hover {
    background-color: var(--contrast-color);
    color: var(--base-color);
}


/*qr code********************/

.header__code {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code__txt {
    font-size: .7rem;
    color: var(--contrast-color);
    font-family: var(--txt-font);
    letter-spacing: 1px;
}

.code__img {
    width: 40%;
}


/* minimizar e aumentar header**************/

.header__minmax {
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    right: 10px;
    top: 10px;

    cursor: pointer;
}


/*conteudo************************/

.content {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;

    color: white;
    position: relative;

    text-align: center;
}

.content__landpage {
}

.landpage__info {
    display: flex;
    flex-direction: column;
}

.info__title {
    font-size: 2rem;
    font-family: var(--contrast-font);
    text-shadow: -3px 3px 0 var(--detail-color-light);
    letter-spacing: 1px;

    color: white;
    position: relative;
    z-index: 100;
}

.title__contrast {
    color: var(--contrast-color);
    font-family: inherit;
    font-size: 4rem;
    text-shadow: -1px 1px 0px var(--detail-color-light);
}

.mex-green,
.mex-green {
    color: darkgreen;
}
.mex-red {
    color: var(--contrast-color);
}


.info__parag {
    max-width: 500px;

    font-size: 1.3rem;
    font-family: var(--txt-font);

    margin-top: 3rem;
    margin-bottom: 2rem;

    text-shadow: 0px 1px 1px gray;
}

.info__btn {
    background-color: var(--contrast-color);
    color: var(--base-color);
    border: none;
    border-radius: 10px;

    font-size: 1.1rem;
    font-family: var(--txt-font);
    padding: .5rem;

    cursor: pointer;
    transition: .3s;
    width: 180px;
    margin: 0 auto;
}

.info__btn:hover {
    background-color: var(--light-color);
    color: var(--contrast-color);

    
}

.info__buble {
    position: absolute;
    top: 5%;
    left: 28%;
    color: var(--contrast-color);
    opacity: .05;
    width: 40vw;
    min-width: 400px;
    
}


/*social icons*********************/

.landpage__social {
    position: absolute;
    bottom: 2vh;
    right: 2vw;


    display: flex;
    align-items: center;
    justify-content: space-evenly;

    column-gap: 1rem;
}

.social__icon {
    width: 3vw;
    min-width: 20px;
    color: var(--contrast-color);
    transition: .5s;
    cursor: pointer;
    opacity: .9;
}

.social__icon:hover {
    color: var(--contrast-color);
}




/*bolha com opção de prato***********/


/*.container__food {
    position: absolute;
    right: 6vw;
    top: 0;

    width: 20vw;
    height: 20vw;
    
    border-radius: 0 0 30% 30%;

    background-color: var(--contrast-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    opacity: .9;

    z-index: 9999;
    cursor: pointer;
    transition: .3s;
}


.food__buble {
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    position: absolute;
    z-index: 9999;

    border-radius: inherit;

    opacity: 0;
    transition: .5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.container__food:hover > .food__buble {
    opacity: .8;
}

.buble__name {
    font-family: var(--txt-font);
    font-size: 2vw;
    color: var(--contrast-color);
}
.buble__price {
    font-family: var(--txt-font);
    font-size: 4vw;
    color: var(--base-color);
}
.buble__price > span {
    font-size: 2vw;
    font-family: inherit;
    position: relative;
    bottom: 25%;
}


.teste {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;

    z-index: 1000;

    background-image: url(./imagens/buble-fried.png);
    background-size: cover;
    background-position: top center;
}
*/
