@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

@font-face {
    font-family: 'EvilEmpire';
    src: url(../fontes/EvilEmpire.ttf) format('truetype') ;
}

:root {
    --cor1: #383838;
    --cor2: #1F1E1C;
    --cor3: #5C0606; 
    --cor4: #9B895B;
    
    --fonte-destaque: 'New Rocker', sans-serif;
    --fonte-padrao: 'Metal Mania', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: var(--cor1);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 15px;
    row-gap: 15px;
}

header > div#container-logo {
    display: flex;
    justify-content: center;
    column-gap: 3vw;
}

div#container-logo > img {
    width: 8vw;
    min-width: 30px;
    max-width: 60px;
}

div#container-logo > h1 {
    align-self: center;
    font-size: 2.5em;
    font-family: var(--fonte-destaque);
    font-weight: 500;
}

header > nav {
    display: flex;
    column-gap: 50px;
}

nav > a {
    color: white;
    font-size: 1.1em;
    font-family: var(--fonte-destaque);
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor3);
}

/* VVVV MAIN VVVV*/

main {
    background-image: url(../imagens/fundo-main.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    animation: fundo-pulando 30s ease-out 0s infinite alternate none;
}

@keyframes fundo-pulando {
    0% {
      background-position: 50% 50%;
    }
  
    100% {
      background-position: 50% 80%;
    }
  }

main > div#fundo-conteudo {
    backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 40%;
    min-width: 350px;
    display: flex;
}

div#fundo-conteudo > div#container-conteudo {
    color: white;
    margin: auto 0;
    text-align: justify;
    padding: 100px 50px;
}

div#container-conteudo > h2 {
    font-family: var(--fonte-padrao);
    font-size: 1.4em;
    font-weight: normal;
}

div#container-conteudo > h2#chamativo {
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    color: goldenrod;
    padding-block: 3vh;
    font-weight: bolder;
    letter-spacing: 0.2vw;
    text-align: justify;
}

div#container-conteudo > p {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 3vh;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}

div#container-conteudo > p > strong {
    font-family: var(--fonte-destaque);
    color: goldenrod;
}

div#container-conteudo > ul {
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    line-height: 30px;
    padding-top: 10px;
}

div#container-conteudo > ul > li {
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    list-style-type: square;
    letter-spacing: 1px;
}

/* VVVVV FORMULÃRIO VVVV*/

/*fundo poster*/
main > div#container-form {
    background-image: url(../imagens/fundo-formulario.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-width: 350px;
    max-width: 400px;
    padding: 40px 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*titulo formulario*/
div#container-form > h3 {
    color: var(--cor3);
    font-family: var(--fonte-destaque);
    font-size: 1.7em;
    padding-bottom: 20px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.603);
}

div#container-form input {
    background-color: var(--cor1);
    border: none;
    color: white;
    font-family: serif;
    letter-spacing: 1px;
    text-indent: 8px;
    border-radius: 10px;
    box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.438);
    padding: 8px;
}

div#container-form input::placeholder {
    font-family: var(--fonte-padrao);
    font-size: 0.7em;
    color: white;
}

div#container-form > input.tres-primeiros {
    font-size: 1.1em;
    max-width: 250px;
    width: 70%;
    margin-bottom: 20px;
}


/* input membros e videos*/
div#container-form > div.flex-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-padrao);
    margin-bottom: 20px;
}

div.flex-form h4 {
    font-family: var(--fonte-padrao);    
    color: var(--cor2);
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 5px;
    font-size: ;
}

div#container-form > div#flex-membros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding-block: 10px;
}

div#flex-membros > input#membros {
    width: 40%;
}

div.flex-form > div#enviar-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

div#enviar-videos > div.container {
    position: relative;
    align-items: center;
    display: flex;
    border-radius: 10px;
    padding: 8px;
    background-color: var(--cor1);
}

div.container > img {
    width: 45px;
    background-color: transparent;
    padding: px;
    border-radius: 10px;
}

div.container > label {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 0.7em;
    letter-spacing: 1px;
}

.container__input {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 100;
    cursor: pointer;
    background-image: url(../imagens/746310_check_business_internet_mark_ok_icon.png);
    background-size: 80%;   
    background-repeat: no-repeat; 
    background-position: center center;
}

.container__input:hover {
    opacity: 100;
}

.container__input::-webkit-file-upload-button {
   opacity: 0; 
}

div#container-form > button {
    background-color: var(--cor3);
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.1em;
    border: none;
    padding: 10px;
    width: 60%;
    margin-top: 10px;
    cursor: pointer;
}

div#container-form > button:hover {
    background-color: black;
}

/* VVVV  FOOTER VVVV*/

footer {
    background-color: black;
    text-align: center;
    padding-block: 10px;
}

footer > h5 {
    font-family: var(--fonte-padrao);
    font-size: 0.7em;
    color: white;
    letter-spacing: 2px;
    font-weight: normal;
}

h5 > a {
    text-decoration: underline;
    color: white;
    font-family: var(--fonte-padrao);
}

h5 > a:hover {
    background-color: var(--cor3);
    text-decoration: none;
}

div div#enviar-videos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.container {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border-radius: 10px;
    background-color: var(--cor1);
    padding: 8px;
    cursor: pointer;
}

.container > img {
    width: 40px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.container > label {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.container__input {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

